@import '../abstract/variaveis';

.banner {
    align-items: center;
    background-image: url(../../imagens/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 350px;
    opacity: 0.9;

    .banner__conteudo {
        background-color: $cor-terciaria;
        border-radius: 45px;
        opacity: 0.9;
        padding: 3rem;

        .banner__titulo {
            color: $cor-primaria;
            font-size: $tamanho-do-texto;
        }

        .banner__texto {
            color: $cor-secundaria;
            font-size: $tamanho-do-texto / 2;
        }
    }
}