@import '../abstract/variaveis';

.cupom {
    background-color: $cor-terciaria;
    padding: 4rem;
    text-align: center;

    .cupom__texto {
        color: $cor-primaria;
        font-size: $tamanho-do-texto / 1.7;
        margin: 2rem 0;
    }

    .cupom__input {
        border: none;
        border-radius: 20px;
        box-sizing: border-box;
        display: block;
        font-size: $tamanho-do-texto / 2;
        height: 48px;
        margin: 0 auto;
        outline: none;
        padding: 0 35px;
        text-align: center;
        transition: 0.5s;
        width: 575px;

        &:hover, &:focus {
            box-shadow: 0px 1px 8px 1px $cor-primaria;
        }
    }

    .cupom__botao {
        background-color: $cor-primaria;
        border: none;
        border-radius: 40px;
        color: $cor-secundaria;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        height: 40px;
        letter-spacing: 1px;
        margin-top: 0.75rem;
        text-align: center;
        text-transform: uppercase;
        width: 130px;

        &:hover {
            background-color: $cor-secundaria;
            color: $cor-primaria;
        }
    }
}