@import '../abstract/variaveis';

.servicos {
    margin: 80px;

    .servicos__titulo {
        color: $cor-secundaria;
        font-size: $tamanho-do-texto / 2.5;
        font-weight: 300;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    .servicos__texto {
        font-size: $tamanho-do-texto / 1.2;
        font-weight: 300;
        margin-bottom: 80px;
        text-align: center;
    }
}