@import '../abstract/variaveis';

.servicos {
    margin: 80px;

    .servicos__titulo {
        color: $cor-secundaria;
        font-size: $tamanho-do-texto / 2.5;
        font-weight: 300;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    .servicos__texto {
        font-size: $tamanho-do-texto / 1.2;
        font-weight: 300;
        margin-bottom: 80px;
        text-align: center;
    }

    .servicos__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-evenly;

        .card {
            flex-basis: 360px;
            text-align: center;

            .card__imagem-container {
                border-bottom: 6px solid $cor-secundaria;
                padding-bottom: 2px;

                .card__imagem {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}